doctype html
html(lang='en')
  head
    title OpenFarm Attributions
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='/resources/styles/attributionstyles.css')
  body
    #attributions_div
      h1 OpenFarm Attributions
      p
        | Image: Farm-Fresh green.png, Author: FatCow Web Hosting, License: 
        a(href='http://creativecommons.org/licenses/by/3.0/us/deed.en') CC BY 3.0 US
        | , Link: 
        a(href='http://commons.wikimedia.org/wiki/File:Farm-Fresh_green.png') Logo Leaf
      p
        | Image: [LPC] Farming tileset, Author: Daniel Eddeland, License: 
        a(href='http://creativecommons.org/licenses/by-sa/3.0/') CC BY-SA 3.0
        | , Link: 
        a(href='http://opengameart.org/content/lpc-farming-tilesets-magic-animations-and-ui-elements') Farming Tileset
      p
        | Finished here? 
        a(href='/login')  Sign in
        |  or 
        a(href='/signup') Sign up for an account
